.dropdown {
  position: relative;
}

.dropdown__list {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #c2c2c2;
  list-style: none;
  bottom: 10px;
  padding: 0;
}

.dropdown__item-wrapper {
  display: flex;
}

.dropdown__item-wrapper:hover {
  background: #c2c2c2;
}

.dropdown__label:focus + .dropdown__list, .dropdown__list:hover {
  display: block;
}

.dropdown__label::after {
  content: ' ▼';
}

.dropdown__label:focus::after {
  content: ' ▲';
}

.dropdown__item {
  padding: 10px 25px;
  width: 100%;
}
