.link {
  color: #0075FF;
  display: block;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link--dangerous {
  color: #b80000;
}

.link--inline {
  display: inline;
}
