{{#with room}}
<header class="chat-main__header">
  <h1>{{name}}</h1>
</header>
<section class="chat-main__content-wrapper">
  <main class="chat-main__content">
    <ul class="chat-main__messages">
      {{#each messages}}
      <li class="chat-main__message-wrapper">
        <section class="chat-main__message{{#if sentByMe}} chat-main__message--sent-by-me{{/if}}">
          {{text}}
        </section>
      </li>
      {{/each}}
    </ul>
  </main>
</section>
{{/with}}
<footer class="chat-main__footer">
  <input class="chat-main__message-input" type="text" name="message" on:focus="handleFocusBlur" on:blur="handleFocusBlur">
  {{{button}}}
</footer>
