---
title: Авторизация
---
{{!< main}}


<form class="container__content" action="./profile.html">
  <h1>Авторизация</h1>

  <div class="container__element">
    {{> input type="email" name="login" text="Почта"}}
  </div>

  <div class="container__element">
    {{> input type="password" name="password" text="Пароль"}}
  </div>

  <div class="container__element container__element--gap">
    {{> button text="Войти"}}
  </div>

  <div class="container__element">
    {{> link text="Создать аккаунт" href="./register.hbs"}}
  </div>
</form>

