---
title: Изменение пароля
---
{{!< main}}


<form class="container__content" action="#">
  <div class="container__backlink">
    {{> link text="Назад" href="./profile.hbs" }}
  </div>
  <h1>Изменение пароля</h1>

  <div class="container__element">
    {{> input type="password" name="oldPassword" text="Старый пароль"}}
  </div>

  <div class="container__element">
    {{> input type="password" name="newPassword" text="Новый пароль"}}
  </div>

  <div class="container__element">
    {{> input type="password" name="newPassword_repeat" text="Новый пароль (ещё раз)"}}
  </div>

  <div class="container__element container__element--gap">
    {{> button text="Сохранить"}}
  </div>
</form>
