---
title: Чаты
---
{{!< main }}

<main>
  {{> link type="inline" text="Авторизуйтесь" href="./auth.hbs"}}, если ещё не сделали этого
  или пройдите в {{> link type="inline" text="Профиль" href="./profile.hbs"}}
</main>
