<section class="error-page__content">
  <h1 class="error-page__header">
    {{header}}
    <div class="error-page__header-code">
      {{errorCode}}
    </div>
  </h1>
  <a href="/">{{backText}}</a>
</section>
